.pqr_title{
  text-align: center;
  padding-top: 3rem;
}
label {
  margin-right: 2em;
}
select {
  text-align: center;
  border-radius: 5px;
  border: none;
  padding: 10px;
  background-color: var(--color-white);
  margin-bottom: 1em;
}
.pqrForm {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: 1fr;
  justify-content: center;
  background-color: #F2E8B3;
  padding: 3rem;
  width: 80%;
}
.pqrForm .inputs_width{
  width: 50%;
  margin-left: 0;
  margin-right: 0;
}
.pqrForm .inputs_white{
  background-color: #F2F2F2;
}
span {
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.solicitudInput {
  text-align: center;
  width: 100%;
}
.disabled {
  display: none;
}
.enabled {
  display: block;
}
