.who_minWidth{
  min-width: 1000px;
}
.who_minWidth{
  padding-top: 20px;
  display: grid;
  width: 90%;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 70px 1fr;
  grid-column-gap: 80px;
  margin:auto;
}
.grid_title{
  text-align: center;
}

.grid_whoAre{
  display: flex;
  align-items: center;
}

.Mision_vision h3{
  background: #F2E8B3;
  border-radius: 5px;
  text-align: center;
}
.grid p , .grid aside{
  width: 100%;
  text-align: justify;
  justify-self: center;
}

