

/*Variable globales*/
:root{
  --color-white: #F2F2F2;
  --color-black: #0D0D0D;
  --color-yellow-light:#F2E8B3;
  --color-yellow:#F2D544;
  --color-yellow-dark:#F2CF63;
  --title-name:'Righteous', cursive;
  --title: 'Archivo', sans-serif;
  --subtitle: 'Hind Vadodara', sans-serif;
  --paragraph: 'Signika', sans-serif;
}

/*----------------------Estilos de letras--------------------------*/

.title_name{
  font-family:var(--title-name);
}
.title{
  font-family: var(--title);
}
.subtitle{
  font-family: var(--subtitle);
}
.paragraph{
  font-family: var(--paragraph);
}

/*---------------------Tamaño Imagenes-----------------------------*/
.img_small{
  width: 170px;
}
.img_medium{
  width: 500px;
}
.img_big{
  width: 800px;
}
.img_complete{
  width: 100%;
}
.img_logo{
  width: 250px;
}

/*----------------------BOTONES------------------------------------*/
.btn{
  font-family: var(--title);
  padding: 10px 30px;
  font-size: 20px;
  border-radius: 12px;
  border:none;
  transition: 0.3s;
}
.btn:hover{
  transform: scale(.95);
}
.btn_dark{
  color: var(--color-white);
  background: var(--color-black);
}
.btn_dark:hover{
  color: var(--color-yellow);

}
.btn_light{
  color: var(--color-black);
  background: var(--color-white);
}
.btn_light:hover{
  background:var(--color-yellow-light);
}


/*------------------------Estilos formularios------------------------------------*/

input{
  border-radius: 5px;
  border: none;
  padding: 10px 30px;
  background-color: var(--color-white);
}
/* supongo que el tamaño es diferente en algunos casos asi que lo dejo en sus manos xd*/
input[type=text] {
  background: var(--color-yellow-light);
}
.placeholder_yellow::placeholder{
  color: var(--color-yellow);
}
/*body*/
body{
  margin:0;
  background: var(--color-white);
  min-width: 1050px;
}
/*minimo tamaño horizontal*/
.minWidth{
  min-width: 750px;
}
/*Barra de navegación*/
.header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header > .language{
  background-color: var(--color-black);
  width: 100%;
}
.header > .language > #google_translate_element{
  float: right;
  padding:0;
  display: flex;
  flex-direction: row;
}
.goog-te-gadget {
  font-family: var(--title);
  text-transform: uppercase;
  color:white
}
.goog-te-gadget-simple  {
  background-color: rgba(255,255,255,0.20)!important;
  padding: 8px!important;
  border-radius: 4px!important;
  font-size: 1rem!important;
  line-height:2rem!important;
  border:none !important;
}
.goog-te-menu-value{
  color: var(--color-white) !important;
}
.goog-te-gadget-icon{
  display: none;
}
.goog-te-menu-value span{
  display: initial;
}
.goog-te-menu-value:hover{
  text-decoration: none !important;
}
.goog-te-banner-frame.skiptranslate {display: none!important;}

body {top: 0px!important;}
.navBar{
  display: flex;
  justify-content: space-around;
  background-color: var(--color-yellow);
  padding: 15px 0px;
  width: 100%;
}
#position{
  color: var(--color-white);
}
.navBar a{
  width: auto;
  text-decoration: none;
  transition: 1s;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
  color: var(--color-black);
  font-family: var(--title);
  font-size: 20px;
}
.navBar_item:hover{
  background-size: 100% 2px;
}



.imagenes{
  float: left;
  margin: 0px;
  width: 130px;
  height: 109px;
  border-radius: 4px;
  margin-left: 14px;
  margin-right: 10px;
}
